.nn-node
  height: 2em
  width: 2em
  border: 1px solid
  padding: 5px
  border-radius: 15px
  position: relative

.flag
  position: absolute
  top: -5px
  right: -5px
  width: 1em

.parent-node
  border: 1px solid
  text-align: center
  margin: auto
  padding: 5px
  border-radius: 2px
  position: relative